---
import Layout from "@app/layouts/Layout.astro";
---

<Layout title="Szerzői jogok">
  <div class="prose prose-base text-center">
    <p>
      A honlapon található tanulmányok, egyéb szellemi termékek, illetve szerzői
      művek (a továbbiakban: művek) jogtulajdonosa az Új Nemzedék Központ
      Nonprofit Közhasznú Kft. A jogtulajdonos egyértelmű forrásmegjelölés
      mellett felhasználást enged a művekkel kapcsolatban oktatási, tudományos,
      kulturális célból. A jogtulajdonos a művekkel kapcsolatos anyagi
      haszonszerzést azonban kifejezetten megtiltja.
    </p>
  </div>
</Layout>
