---
import Layout from "@app/layouts/Layout.astro";
---

<Layout>
  <div class="prose prose-base">
    <h1>Útmutató a gyakorlatok felhasználásához</h1>
    <h2>Sajátélményű gyakorlatok vezetése</h2>

    <h3>Mire valók a sajátélményű gyakorlatok?</h3>

    <p>
      A kompetenciafejlesztés olyan tevékenység, melynek során az attitűdöket, a
      képességeket és az ismereteket együtt, egymással kölcsönhatásban
      igyekszünk fejleszteni. A sajátélményű gyakorlatok ezt a hármas
      megközelítést képesek biztosítani a csoport vezetője és a résztvevők
      számára. Az érzelmi bevonódás lehetővé teszi az attitűdök „elérését”, így
      a mélyebb, és valódi változást előidéző hatásokat. A magas motivációval
      történő feladatmegoldás jótékonyan hat a mozgósított képességek
      fejlődésére, míg a tapasztalatoknak a résztvevők észrevételein alapuló,
      azokat összegző, értelmező átgondolása az ismeretek elmélyülését
      szolgálja.
    </p>

    <hr class="!my-5" />

    <h3>Játék vagy gyakorlat?</h3>
    <p>
      Mielőtt belekezdünk az itt található játék- vagy gyakorlatgyűjteményben
      szereplő leírások megvalósításába, fontos tisztázni, hogy mit is várunk
      ezektől a feladatoktól. Játékokat keresünk vagy gyakorlatokat? Mit
      gondolunk egyikről, és mit a másikról? Játszani jó. Jó, mert kikapcsol,
      mert örömet ad. Azonban ennél több is történik: az önfeledt játékban
      megélt tökéletes önazonosság, a játékban felszabaduló belső erőforrások
      hatására létrejövő flow élmény erősíti az önbecsülést, jelentős szerepet
      játszva a pozitív önértékelés megszilárdulásában. Az egyén és a külvilág,
      illetve az egyén és mások közötti (Winnicott szerinti) átmeneti térben
      létrejövő játszás segíti a külvilág megtapasztalását, megértését, belsővé
      tételét, így támogatva a személyiség biztonságos közlekedését a
      külvilágban. A játszás messze több tehát, mint puszta szórakozás. A
      játszás a belső és külső tapasztalás kifinomult módja, amiben a játszó
      képessé válik a külső és belső hatások akadálytalan megélésére; ezt a
      potenciált ismerték fel a legkülönfélébb készségfejlesztő csoportok,
      amikor más és más alapokon - a színházi játék, a sportjáték vagy a
      társasjáték elemeit felhasználva, azokat ötvözve - megalkották és
      használni kezdték kompetenciafejlesztő gyakorlataikat. Ami létrejött, az
      tehát játék annyiban, hogy tudatosan épít a játék mint keret és forma
      által létrehozott tapasztalati mezőre, és több mint játék, amennyiben a
      megélt, megtapasztalt működéseket tudatosítani, célzott reflexióval
      mélyíteni törekszik. Ugyanakkor ez a fajta játék, épp az érzelmeket a
      külső és belső akadályoktól felszabadító működése miatt, veszélyes üzem is
      lehet. A játék (vagy ezért inkább gyakorlat) vezetője messze nem
      játszadozást irányít: a keretek meghatározásában, a résztvevők
      biztonságának szavatolásában, a megfelelő tanulságok levonásában komoly
      felelőssége van. A sajátélményű gyakorlatok vezetéséhez - facilitálásához
      - a játék (fizikai és társas) terének kialakításához, a folyamat
      biztonságos végigviteléhez tudatos csoportvezetői magatartás szükséges.
    </p>

    <h3>
      A gyakorlat kiválasztása során mindig tartsuk szem előtt az alábbiakat:
    </h3>

    <p>
      Mi a célom ezzel a gyakorlattal? Mennyiben, mitől lesz több mint
      játszadozás? A leírást elolvasva értem, hogy mire megy ki a játék? El
      tudom képzelni, hogy körülbelül mire számíthatok? Megfelel a csoportom (és
      a benne lévő egyének) érettségének ez a gyakorlat? Vannak előre látható
      veszélyei a feladatnak? Hogyan fogom megelőzni ezeket?
    </p>

    <h3>Amire a gyakorlat vezetése során figyelni kell:</h3>
    <p>
      Értsék a résztvevők, hogy mi történik; értsék a tágabb kereteket (mi a
      célja a foglalkozás(ok)nak, miért játszunk) Értsék a konkrét feladatot A
      gyakorlatban mindenki önként vegyen részt; ha nem szívesen teszi, legyen
      lehetősége passzolni A résztvevők fizikai és lelki biztonságát szavatolni
      kell; ehhez a lehetséges veszélyforrásokat át kell gondolni, ki kell
      iktatni. A fizikai igénybevételt (pl. bekötött szem, székre állás,
      guggolás) igénylő feladatok esetében rá kell kérdezni, hogy van-e, akinek
      ez kényelmetlen, nem vállalható. Olyan légkört kell teremteni, amiben
      ilyen jellegű gondjukat maguk is felvetik a résztvevők.
    </p>

    <h3>A sajátélményű foglalkozás keretei</h3>

    <p>
      Első alkalommal a csoportvezető és a csoport bemutatkozása, ismerkedése, a
      közös keretek és szabályok kialakítása, a feldolgozandó téma felvázolása,
      a csoporttagok kapcsolódásainak, előzetes élményeinek feltárása, közös és
      egyéni célok megfogalmazása; ez akkor se maradjon el, ha korábbról már
      ismerjük a csoportot; az adott foglalkozás-sorozat kereteit akkor is
      rögzíteni kell (esetleg a fent felsoroltak gyorsíthatók, az ismerkedés
      személyes része átugorható) Rögzítsük és tartsuk be a foglalkozás
      időkereteit! Teremtsünk olyan helyzetet, amiben mindenki az elejétől a
      végéig részt vesz a foglalkozáson, mivel a ráhangoló és a levezető rész a
      foglalkozás szerves részét alkotja; a foglalkozás egészében működik!
      Mindig érzelmi ráhangolással kezdjük és érzelmi lezárással fejezzük be a
      foglalkozást! Hívjuk fel a csoporttagok figyelmét az aktív részvételre:
      mindenki annyi inspirációt kap a csoporttól, amennyit ő maga beletesz a
      folyamatba. Ugyanakkor tartsuk fenn a passzolás jogát, hiszen
      előfordulhat, hogy valakinek akár pszichés, akár fizikai értelemben
      túlságosan diszkomfortos egy-egy gyakorlat A foglalkozás-sorozat végén
      tartsunk záró, búcsú foglalkozást, akkor is, ha a csoport más minőségben
      még találkozni fog (erre a csoportnak érzelmileg szüksége van).
    </p>

    <h3>Kommunikációs keretek és szabályok</h3>

    <p>
      A csoportvezető ne beszéljen a csoportban történtekről külső személyeknek;
      erről biztosítsa a csoporttagokat! Mindenki véleménye, gondolata egyformán
      fontos: ezért hallgassuk végig egymást, akkor is, ha nem értünk egyet! A
      gondolatokat személyes közlésként (én-közlés) fogalmazzuk meg; másokat ne
      értékeljünk, ne minősítsünk! Ügyeljünk a személyes érzelmi biztonságra:
      Mindenki annyit mondjon el, amennyit szeretne; ne erőltessük a személyes
      megnyilvánulást, a szóbeli közlést is lehessen passzolni!
    </p>
  </div>
</Layout>
