---
import "@app/styles/global.css";
import { ClientRouter } from "astro:transitions";

const {title} = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gyakorlatok/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <div class="navbar bg-neutral text-neutral-content">
      <div class="navbar-start">
        {Astro.routePattern !== "/" ?
          <button class="btn btn-ghost font-normal sm:text-lg" onclick="history.back()"
            >&lt; Vissza</button> : <></>
        }
      </div>
      <div class="navbar-center font-semibold sm:text-2xl text-sm">{title}</div>
      <div class="navbar-end">
        <a class="btn btn-ghost font-normal sm:text-lg" href="/gyakorlatok/utmutato"
          >Útmutató</a>
      </div>
    </div>
    <div class="flex flex-col items-center p-6" transition:animate="slide">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
