---
import "@app/styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gyakorlatok/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar bg-neutral text-neutral-content">
      <div class="navbar-start">
        {
          Astro.routePattern !== "/" && (
            <a class="btn btn-ghost font-normal lg:text-lg" href="/gyakorlatok">
              &lt; Vissza
            </a>
          )
        }
      </div>
      <div class="navbar-center font-semibold lg:text-2xl text-sm">
        {title}
      </div>
      <div class="navbar-end">
        {
          Astro.routePattern !== "/utmutato" && (
            <a
              class="btn btn-ghost font-normal lg:text-lg"
              href="/gyakorlatok/utmutato"
            >
              Útmutató
            </a>
          )
        }

        {
          Astro.routePattern !== "/szerzoi-jogok" && (
            <a
              class="btn btn-ghost font-normal lg:text-lg"
              href="/gyakorlatok/szerzoi-jogok"
            >
              Szerzői jogok
            </a>
          )
        }
      </div>
    </div>
    <div class="flex flex-col items-center p-6" transition:animate="slide">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
